.operation-options {
  margin-left: 20%;
  margin-top: 10%;
  padding-left: 10% !important;
}

.button-operation {
  height: 54px;
  width: 300px;
  margin-top: 5%;
}

.operation-back {
  margin-top: 20%;
  margin-left: 15%;
}

.products-table{
    margin-top: 20%;
}

